{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block login %}
<main class="main-content mt-0">
    <section>
        <div class="vh-100">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <!-- Right column with the background image -->
                    <div class="shadow col-md-6 d-flex align-items-center justify-content-center" style="background-image: url('{% static 'assets/img/bg.jpg' %}'); background-size: cover; background-position: center; height: 100vh;">
                        <!-- Optional content inside the right column -->
                    </div><!-- Left column with the logo and sign-in button -->
                    <div class="col-md-6 d-flex flex-column align-items-center">
                        <div class="d-flex align-items-center">
                            <img src="{% static 'assets/img/omnibsic_bank_logo.png' %}" class="img-fluid" style="height: 120px;" alt="Omnibsic Bank Logo">
                            <h1 class="display-1">mniBSIC</h1>
                        </div>

                        <div class="mt-5 ">
                            <h3>Treasury Bill Management System</h3>
                            <div class="mt-5 mb-4 card-body text-center">
                                <a href="{% provider_login_url 'microsoft' %}" class="btn text-white mb-0 w-30" style="background-color: #0468BF;">Sign In</a>
                            </div>
                        </div>
                    </div>

                    >
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock login %}
