{% load socialaccount %}
{% load static %}

{% block redirect %}

		{% if request.user.department == 'branch' %}
			<a href="/branch/" class="">Click to Redirect</a>
		{% elif request.user.department == 'treasury' %}
			<a href="/treasury/">Click to Redirect</a>
		{% elif request.user.department == 'trops' %}
			<a href="/trops/">Click to Redirect</a>
		{% elif request.user.department == 'admin' %}
			<a href="/super/users/all/">Click to Redirect</a>
		{% else %}
			<p>Kindly contact your administrator</p>
		{% endif %}


{% endblock redirect %}
