{% load socialaccount %}
{% load static %}

{% block redirect %}

		{% if request.user.department == 'branch' %}
			<a href="/branch/" class="">Click to Redirect</a>
		{% elif request.user.department == 'treasury' %}
			<a href="/treasury/dashboard">Click to Redirect</a>
		{% elif request.user.department == 'treasury' %}
			<a href="/Tro_Ops/dashboard">Click to Redirect</a>
		{% elif request.user.department == 'Admin' %}
			<a href="/Admin/home">Click to Redirect</a>
		{% else %}
			<p>Kindly contact your administrator</p>
		{% endif %}


{% endblock redirect %}
